i_tilte/*公告样式*/
*{margin: 0px;padding: 0px;font-size: 14px;font-family: "microsoft yahei";list-style: none;text-decoration: none;}
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; }
input,button{outline:none;-webkit-appearance: none;}
select{outline:none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
body{background: #fff;}

/*底部导航栏*/
.bottom_nav dl dd{width:33.33%;text-align: center;}
.bottom_nav dl dd button{border: 0px;line-height: 20px;background: none;display: block;text-align: center;font-size:20px;width: 100%;outline:none}
.bottom_nav dl dd span{font-size: 12px;font-weight: 500;color: #cad2d9;}
.bottom_nav dl dd button::before{display: block;}
.bottom_nav dl dd a::before{display: block;}
.bottom_nav dl dd a,.bottom_nav dl dd button{font-size:25px;line-height: 15px;display: block;}
.bottom_nav{background: #fff;border-top:1px solid #eee;padding-top:2px;padding-bottom:3px;position: fixed;width: 100vw;bottom: 0px;}
.bottom_nav dl{display: flex;}
.bottom_nav dl dd a i{width:25%;display: block;margin: auto;}
.bottom_nav dl dd a i img{width: 100%;display: block;}
.bottom_nav dl dd a i:nth-child(2){display: none;}

/*头部*/
.h1{
	background: -webkit-linear-gradient(left, #4671cb , #4490d2); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #4671cb, #4490d2); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #4671cb, #4490d2); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #4671cb , #4490d2); /* 标准的语法 */
	text-align: center;font-weight: 500;font-size: 20px;padding:10px 0;color: #FFFFFF; 
position: fixed;width: 100%; top: 0px;z-index: 1000;}
.h1 s{font-size: 18px;color: #FFFFFF;}
.h1 a{position: absolute;font-size: 14px;right: 15px;top:15px;color: #FFFFFF;}
.h1 a span{color: #999;font-size: 14px;}
.h1 button{position: absolute;top:13px;left: 10px;background: none;border: 0px;font-size: 20px;color: #FFFFFF;}
.headerRight{width: 60px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}

/*公告*/
#notice{background: #fff;border-top: 1px solid #eeeeee;border-bottom: 1px solid #eeeeee;display:flex;align-items: center;justify-content: space-between;padding: 10px 15px;}
.notice_img{width: 6%;}
.dia{color: #949ea7;font-size: 14px;width:70%;}
.tong{font-size: 12px;color: #185cc7;}

.name_right ul{width: 100%;background: #fff;}
.ge_title{color: #fe9637;overflow: hidden; text-overflow: ellipsis; width: 85%; text-align: center;}
.name_right{width: 100%;display: flex;justify-content: space-around;}
.name_right ul li{list-style: none;float: left;width: 25%;margin: 10px 0;}
.right_img{display: flex;flex-direction: column; align-items: center;}
.left_img{position: relative;right: -7px; width: 85px;}
.left_tile{font-size: 14px;color: #FFFFFF;position: absolute;top: 62px;right: 30px;letter-spacing: 1px;}
.ge_img{width: 30%;}
.right_title{font-size: 14px;color: #333;padding-top: 5px;}

.nt_img{width: 180px;height: 25px;}
.bt{font-size: 14px;color: #FFFFFF; position: relative; top: -25px;left: 10px;}
.nt{margin: 10px 15px;background: #FFFFFF;padding: 15px 0px;border-radius: 3px;}
.nt_title{font-size:15px;color:#333333;padding: 10px 10px 0px 30px;text-indent: 2em;text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden;}
.sj{padding: 10px 0px 0px 0px;text-align: right;margin-right: 20px;color: #666666;font-size: 14px;}
.list1{width: 100%;display: flex;flex-direction:row;justify-content: space-between;align-items:center;padding-top: 15px;border-top: 1px solid #EEEEEE;/*border-bottom: 1px solid #eee;*/}
#ck{font-size: 15px;color: #333;margin-left: 10px;}
.xq h3{text-align: center;}
.xq p{text-indent: 2em;color: #000000;font-size: 15px;padding: 10px 20px;}

/*币种行情*/
.main{background: #fff;margin-top: 20px;padding-top: 5px;}
.fishName{color: #000;padding-left: 8px; margin: 5px;  display: flex; margin-left: 15px;border-left: 3px solid #185cc7;}
.bi{padding: 15px;border-top: 1px solid #EEEEEE;border-bottom: 1px solid #EEEEEE;}
.bi .bizhong_top_t{display: flex;justify-content: space-between;align-items: center;padding: 0 0 10px 0;}
.bi .bizhong_top_t h3 i{width: 30%;display: block;float: left;}
.bi .bizhong_top_t h3 span{float: left;margin-left: 10px;font-weight: 300;font-size: 14px;margin-top:3px;color: #333;}
.bi .bizhong_top_t h3 i img{width: 100%;display: block;}
.bi .bizhong_top_t .next{width: 5%;}
.bi .bizhong_top_t img{width: 15px;}
.bi .bizhong_top_t .box{display: grid;}
.bi .bizhong_top_t .box .box_zi{color: #a6a6a6;}
.bi .bizhong_top_t .boxBtn{background: #08c198;color: #fff;font-weight: 300;padding: 5px;border-radius: 5px;}
.bi .bizhong_top_t .boxBtn1{background: #f1605b;color: #fff;font-weight: 300;padding: 5px;border-radius: 5px}

/*收款码*/
.two{display: none;}
#nav{width: 100%;position: absolute;left: 50%;margin-left:-50%;}
#nav ul li{float: left;list-style: none;width: 50%;white-space: nowrap;text-overflow: ellipsis;-o-text-overflow: ellipsis;overflow: hidden;}
#nav ul li span{display: block;color: #333;text-align: center;padding:15px 10px;}
.tab{padding-top: 45px;}
.navTitle span{color: #009aff !important;border-bottom: 1px solid #009AFF;}
.navTitle{display: block;text-align: center;background:rgba(255, 255, 255, 0.5);border-bottom: 2px solid #009aff;}
.content{margin-top: 41px;}

/*邀请*/
.s_qrcode{background:#1766AF;height: 100vh;}
.s_qrcode div{background:#fff;border-radius: 5%;width:60vw;height: 60vw;display: block;margin: auto;position:relative;top:30vh;padding: 10%;}

/*充币*/
.charge{background:#fff;background-size: 100% 100%;width: 100vw;height: 100vh;}

.charge_bbj{width: 80%;background: url(../img/erweima_bg.png);background-size: 100% 100%;margin: auto;top:20%;position: relative;}

.chas_lianjie input{width: 100%;background: #f0f5ff;box-sizing: border-box;color: #185cc7;word-wrap:break-word;height: 40px;font-size: 12px;padding:5px;display: block;border: 0px;}
.chas_lianjie a{width: 100%;display: block;background: #185cc7;color: #fff;text-align: center;height: 50px;line-height: 50px;}
.chas_lianjie{padding: 20px;box-sizing: border-box;}
/*充币记录*/
.tixn_record h2{font-size: 14px;font-weight: 500;}
.tixn_record h2 u{font-size:12px;}
.tixn_record em{clear: both;}
.tixn_record li{width:100%;margin: auto;padding:15px 10px;box-sizing: border-box;border-bottom: 1px solid #eee;}
.tixn_record p{float: left;margin: 5px 0;}
.tixn_record span{clear:both;display: block;}
.mingxi .ps{float:right;}
.mingxi .ps u{color: #333254;}
.mingxi .ps s{color: red;}
.mingxi span{clear:both;float: left;}
.mingxi em{color: #333;}
.mingxi h2{float: left;}
.mingxi h2 u{color: #333254;}
.tixn_record i{float: right;font-style: normal;font-size: 16px;color: #185cc7;margin-top:5px;}
.team i{width: 50px;height: 50px;display: block;float: left;border-radius: 50%;overflow:hidden;}
.team i img{width: 100%;}
.team span{float: left;margin-top:15px;margin-left: 20px;}
.team li{padding: 3%;border-bottom: 1px dashed #ccc;overflow: hidden;}
.team ul{margin-top:30px;margin-bottom: 50px;}
.team ul h6{font-weight: 500;font-size:16px;text-indent:0.5em;border-bottom: 1px dashed #ccc;padding-bottom: 10px;}

/*提币*/
.shouji a{text-decoration: none;}	
.shouji input{margin: 5px 0px 15px 0px;width:100%;color: #333;box-sizing: border-box;font-size: 14px;padding: 15px;border:0px;margin: 5px 0 10px;background:#f0f3ff;border-radius: 5px;}
.shouji select{display: block;width:100%;border-radius: 0px;color: #333;padding: 15px;border:0px;margin: 5px 0 10px;background:#f0f3ff;border-radius: 5px;text-align: left;}
.shouji i{color: #333;font-size: 14px;font-style: normal;padding:0px;margin-bottom:5px;margin-top:10px;text-align: left;}
.shouji{width: 100%;padding: 0px;left: 0px;margin-top:20px;}
.shouji_1{margin-top:0px;padding:20px;box-sizing: border-box;padding-bottom: 35px;background: #FFFFFF;}
.shouji input:focus{box-shadow: 0px 0px 0px #333254;}
.shouji input::-webkit-input-placeholder{color: #ccc !important;}
.shouji form a{color: #333;}
.shouji .locgin_i input[type="submit"]{padding-left: 0px;padding: 10px;color: #fff;}
.tijiao{
	background: #185cc7 !important; /* 标准的语法 */	
	color:#FFFFFF !important;font-size: 16px !important;padding: 10px 45px !important;}
.shouji p{background: #f0f3ff;padding: 10px;box-sizing: border-box;color: #185cc7;border-radius: 0 0 5px 5px;margin-top: -15px;margin-bottom: 10px;}
#J_getCode{width: 22%;height:44px;display: block;position: absolute;margin-top:-55px;right:10%;line-height: 44px;color:#185CC7;}
#J_resetCode{display:none;width:20%;height:44px;position: absolute;margin-top:-55px;right:10%;line-height: 44px;font-size: 12px;color:#185CC7;}
#J_second{color: #185CC7;font-size:12px;}


/*投资*/
.gao{margin-top: 65px !important;}
.ge{margin-top: 45px !important;}
.i_main{background: url(../img/i_bg.png);background-size: 100% 100%;background-repeat: no-repeat;margin:15px;padding: 20px;}
.i_tilte{display: flex;justify-content: space-between;align-items: center;}
.i_tilte .price{font-size: 20px;color: #fff;}
.i_tilte .ti{font-size: 12px;color: #fff;}
.i_tilte .ti2{margin: 8px 0;}
.i_tilte .ti .ti_shu{font-size: 16px;font-weight:400;color: #fff;margin-left: 15px;width: 70px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.i_tilte .bu{font-size: 14px;font-weight:400;color: #185cc7;background: #fff;padding: 5px 20px;border-radius: 5px;}
.line{border-left: 2px solid #fff;height: 13px;}

/*USDT兑换*/
.body_top{padding:20px;background: #185cc7;color: #FFFFFF;display: flex;flex-direction: row;justify-content: space-between;align-items: center;}
.top{display: flex;flex-direction: column;justify-content: center;align-items: center;}
.top p {margin-bottom: 5px;}
.top select{background: transparent;font-size: 18px;font-weight: bold;border: 0px;color: #fff;}
.top .div{display: flex;flex-direction: row;justify-content: space-between;}

.inputBox{background: #fff;padding:0 15px;}
.inputBox label{color: #000;}
.inputBox input{color: #000;padding: 10px;border: 0px;}
.line_u{border-bottom: 1px solid #eee;margin-top: 15%;}
.inputBox span{border: 1px solid #185cc7;color: #185cc7;padding:5px 7px;border-radius: 3px;position: absolute;right: 15px;margin-top: 4px;}
#submit{width: 90%;margin: 5%;border-radius:3px;text-align: center;padding: 9px;background: #185cc7;border: 0px;color: #fff;}


/*个人中心*/
.ge_top{background-color: #FFFFFF;border-radius: 10px;margin: -70px 15px 0;padding: 20px;}
.ge_top_img{background: url(../img/ge_bg.png) no-repeat;background-size:100% 100% ; height: 100px;width: 100%;position: relative;z-index: -1;}
.touImg{border: 1px solid #4588d0;background: #4588d0;width: 55px;height: 55px;border-radius: 30px;}
.right{display: flex;}
.name_right ul{width: 100%;}
.ge_title{color: #fe9637;overflow: hidden; text-overflow: ellipsis; width: 85%; text-align: center;}
.ni{display: flex;justify-content: center;flex-direction: column;margin-left: 15px;color: #333333;}
.name_top{width: 100%;display: flex;justify-content: space-between;}
.ge_right{display: flex;}
.qr{position: absolute;right: 30px; width: 8%;}
.ming{margin-bottom: 10px;}
.ge_list{margin: 10px 15px;background: #FFFFFF;border-radius: 10px;}
.zi{ padding-left: 10px;font-size: 14px;color: #000;}
.gong{font-size: 14px;color: #000;padding-top: 10px;}
.list{width: 100%;display: flex;flex-direction:row;justify-content: space-between;align-items:center;padding: 15px 0px;}
.list_left{display: flex;align-items: center;flex-direction: row;margin-left: 20px;}
.next_img{width: 15px;height: 15px;margin-right: 20px;}
.tups_img{width: 20%;}
.tups_img1{width: 15%;}
.tuichu{border-radius: 5px;background:#185CC7;color:#FFFFFF !important;font-size: 15px !important;padding: 10px!important;width: 92% !important;margin:5% 15px !important;border: 0px;letter-spacing: 2px;}

/*积分商城*/
.jf{font-size: 14px;color: red;width: 100%;text-align: center;}

/*团队*/
.team_wo i{float: left;width:20%;display: block;}
.team_wo i img{width: 100%;}
.team_wo dl dd{width: 50%;float: left;padding: 8px 0;color: #fff;}
.team_wo dl dd span{margin-right: 10px;color: #fff;}
.team_wo dl{width: 75%;float:right;}
.team_wo ul li{background: #fff;overflow: hidden;padding: 10px;box-sizing: border-box;margin-top:10px;}
.team_wo{overflow: hidden;padding: 10px;box-sizing: border-box;background: linear-gradient(to right, #43a8d7 , #4490d2);width: 96%;margin:10px auto;border-radius: 5px;}
.team_wo dl dd:nth-last-child(1){width: 100%;;}
.weiji a{display: block;text-align: center;color: #fff;border-radius: 5px;;}
.weiji{width: 100%;background: #ABBAC3 !important;}
.dengdai{background: #2D93CA !important;}
.dengdai a{text-align: center;color: #fff;display: block;}

/*钱包*/
.suocang_ul li{width: 94%;padding:15px;border-radius: 5px;position:relative;box-sizing: border-box;margin:10% auto;
background:#1766AF;text-align: center;color: #fff;}
.suocang_ul li p{font-size: 1.3rem;display: flex;justify-content:space-between;color: #fff;}
.suocang_ul li p img{width: 15vw;height:15vw;display:block;}
.suocang_ul li h1{color: #fff;font-size: 1.8rem;font-weight: 500;margin-top:10px;}
.suocang_ul li div span:nth-child(1){border-right: 1px solid #fff;}
.suocang_ul li div span{width:50%;display: block;text-align: center;display: flex;justify-content:center;}
.suocang_ul li div{margin:10px 0;display: flex;border-top:1px solid #fff;padding: 15px 0;}
.suocang_ul li div img{width: 5vw;height:4.5vw;display: block;margin-right: 5px;}
.suocang_a{width: 40%;background: #42c2a8;border-radius: 50px;display: block;margin: auto;text-align:center;padding: 10px 0;color: #fff;position: absolute;margin-top:3%;left:30%;}

/*邀请*/
.qrcode{background:url(../img/y_qr.png);background-size: 100% 100%;height: 100vh;}
.qrcode div{width:50vw;height: 50vw;display: block;margin: auto;position:relative;top:15vh;}
padding: 10%;}


